@using WebApplication1.Views.Home
@model Chapter
<link rel="stylesheet" href="~/css/admin.css" />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Save", "Home"))
        {
            @Html.HiddenFor(model => model.ID)
   
            <div class="form-group mb-3">
                @Html.LabelFor(model => model.Title,"Tiêu đề *",new {@class="control-label mt-3"})
                @Html.TextBoxFor(model => model.Title,new {@class = "form-control-1",name="Title"})
            </div>
            <div class="form-group mb-3">
                @Html.LabelFor(model => model.Content,"Mô tả",new {@class="control-label"})
                @Html.TextAreaFor(model => model.Content,3,2,new {@class = "form-control-2",name="Title"})
            </div>


            <div class="form-group mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        }
    </div>
</div>
<div>
    <a asp-action="home_admin">Trở về danh sách</a>
</div>