@using WebApplication1.Views.Home
@model Section
<link rel="stylesheet" href="~/css/style1.css" />
@using (Html.BeginForm("Save", "YourController"))
{
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.ArticleID)
    @Html.HiddenFor(model => model.DecreeID)

    <div>
        @Html.LabelFor(model => model.Title, new { @class = "title-label" })
        @Html.TextBoxFor(model => model.Title, new { @class = "title-input" })
    </div>

    <div>
        @Html.LabelFor(model => model.Min)
        @Html.TextBoxFor(model => model.Min)
    </div>

    <div>
        @Html.LabelFor(model => model.Max)
        @Html.TextBoxFor(model => model.Max)
    </div>

    <div>
        @Html.LabelFor(model => model.Avg)
        @Html.TextBoxFor(model => model.Avg)
    </div>

    <div>
        @Html.LabelFor(model => model.Content, new { @class = "content-label" })
        @Html.TextAreaFor(model => model.Content, new { @class = "content-input" })
    </div>

    <input type="submit" value="Save" />
}